<link
  rel="stylesheet"
  href="https://unpkg.com/swiper@7/swiper-bundle.min.css"
/>
<style>
  .announcement__bar{
    height: 30px;
    width: 100%;
    background-color: lightblue;
    color:white !important;
  	}
  	.announcement__bar-container{
      display:flex;
      flex-direction:row;
      align-items: center;
      justify-content: center;
    }
  
.announcement__bar-container>div {
    flex: 1;
    }
    .announcement__bar-container>div:nth-child(2) {
      flex: 2.5;
    }
    .announcement-bar {
      border-bottom:0px;
      }
      .announcement-bar__link {
        padding:0px;
        }
        .announcement-bar__link:hover{
            background-color: transparent;
        }
  	  .announcement-bar__message, .annoucement__bar-message-left > a {
        color:white;
        text-decoration:none;
      }

.arrow-link::after{
    content:"->";
    width: 23px;
    height: 16px;
    top: 50%;
    right: 0;
    padding-left:10px;
    transition: padding-left .4s cubic-bezier(.1, .41, .32, .85);
}
.arrow-link:hover::after {
    padding-left:20px;
    transition: padding-left .4s cubic-bezier(.1, .41, .32, .85);
}

  
.slider-container{
  width:100%;
}


.annoucement__bar-message-slider.swiper {
  height: 18px;
  }
  .swiper-slide{
    text-align:center;
  }
  @media screen and (max-width: 749px){
    .annoucement__bar-message-slider.swiper {
      height: 30px;
     }    
    .announcement-bar__link .announcement-bar__message {
      height: 30px;
      line-height: 30px;}
  }
</style>


{%- for block in section.blocks -%}
  {%- case block.type -%}
    {%- when 'announcement' -%}

<section class="announcement__bar">
  <div class="announcement__bar-container page-width">
  <div class="annoucement__bar-message-left small-hide medium-hide">
    <a class="arrow-link h4" href="/pages/share?traffic_source=site_header" data-ga-category="Header - Top Bar" data-ga-action="click" data-ga-label="Refer a Friend, Get $10">
          Refer a Friend, Get $10
        </a>
  </div>
  
        <!-- Slider main container -->
    <div class="annoucement__bar-message-slider swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
        
         <div class="announcement-bar" role="region" aria-label="{{ 'sections.header.announcement' | t }}" {{ block.shopify_attributes }}>
        {%- if block.settings.text != blank -%}
          {%- if block.settings.link != blank -%}
            <a href="{{ block.settings.link }}" class="announcement-bar__link link link--text focus-inset animate-arrow">
          {%- endif -%}
              <p class="announcement-bar__message h4">
                {{ block.settings.text | escape }}
              </p>
          {%- if block.settings.link != blank -%}
            </a>
          {%- endif -%}
        {%- endif -%}
      </div>

        
        
        
        </div>
        <div class="swiper-slide">
        
         <div class="announcement-bar" role="region" aria-label="{{ 'sections.header.announcement' | t }}" {{ block.shopify_attributes }}>
        {%- if block.settings.text != blank -%}
          {%- if block.settings.link != blank -%}
            <a href="{{ block.settings.link }}" class="announcement-bar__link link link--text focus-inset animate-arrow">
          {%- endif -%}
              <p class="announcement-bar__message h4">
                {{ block.settings.text2 | escape }}
              </p>
          {%- if block.settings.link != blank -%}
            </a>
          {%- endif -%}
        {%- endif -%}
      </div>

        
        </div>
        <div class="swiper-slide">
        
        
         <div class="announcement-bar" role="region" aria-label="{{ 'sections.header.announcement' | t }}" {{ block.shopify_attributes }}>
        {%- if block.settings.text != blank -%}
          {%- if block.settings.link != blank -%}
            <a href="{{ block.settings.link }}" class="announcement-bar__link link link--text focus-inset animate-arrow">
          {%- endif -%}
              <p class="announcement-bar__message h4">
                {{ block.settings.text3 | escape }}
              </p>
          {%- if block.settings.link != blank -%}
            </a>
          {%- endif -%}
        {%- endif -%}
      </div>

        
        
        </div>
      </div>
      </div>

  <div class="annoucement__bar-message-right small-hide medium-hide ">
     
  </div>
  </div>
</section>

     <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

<script>
  
  const swiper = new Swiper('.swiper', {
  // Optional parameters
  loop: true,
  autoplay: {
   delay: 3000,
   disableOnInteraction: false,
  },
  

  // If we need pagination
  pagination: {
    el: '.swiper-pagination',
  },

  // Navigation arrows
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },

  // And if we need scrollbar
  scrollbar: {
    el: '.swiper-scrollbar',
  },
});
</script>


  {%- endcase -%}
{%- endfor -%}

{% schema %}
{
  "name": "t:sections.announcement-bar.name",
  "max_blocks": 12,
  "blocks": [
    {
      "type": "announcement",
      "name": "t:sections.announcement-bar.blocks.announcement.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Welcome to our store",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.text.label"
        },
		{
          "type": "url",
          "id": "link",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.link.label"
        },
		{
          "type": "text",
          "id": "text2",
          "default": "Welcome to our store",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.text2.label"
        },
		{
          "type": "url",
          "id": "link2",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.link2.label"
        },
		{
          "type": "text",
          "id": "text3",
          "default": "Welcome to our store",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.text3.label"
        },
		{
          "type": "url",
          "id": "link3",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.link3.label"
        },
        {
          "type": "select",
          "id": "color_scheme",
          "options": [
            {
              "value": "background-1",
              "label": "t:sections.announcement-bar.blocks.announcement.settings.color_scheme.options__1.label"
            },
            {
              "value": "background-2",
              "label": "t:sections.announcement-bar.blocks.announcement.settings.color_scheme.options__2.label"
            },
            {
              "value": "inverse",
              "label": "t:sections.announcement-bar.blocks.announcement.settings.color_scheme.options__3.label"
            },
            {
              "value": "accent-1",
              "label": "t:sections.announcement-bar.blocks.announcement.settings.color_scheme.options__4.label"
            },
            {
              "value": "accent-2",
              "label": "t:sections.announcement-bar.blocks.announcement.settings.color_scheme.options__5.label"
            }
          ],
          "default": "accent-1",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.color_scheme.label"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "announcement"
      }
    ]
  }
}
{% endschema %}
